*{
    font-family: 'Montserrat';
}
.navbar{
    padding:10px 2px !important;
}
.navbar1{
    background: linear-gradient(90deg, #6B9ED9 0%, #5C92BF 33.85%, #5288AB 60.59%, #42788A 100%);
}
.navbar0{
    background: linear-gradient(90deg, #36D1DC 0%, #42B8DF 33.85%, #4CA3E1 60.59%, #5B86E5 100%);
    
}
.navbar li{
    padding-left:20px;
    padding-right:20px;
  }
footer, .footer{
    background: linear-gradient(90deg, #36D1DC 0%, #42B8DF 33.85%, #4CA3E1 60.59%, #5B86E5 100%);
    
}
.bot-footer{
    background: linear-gradient(90deg, #6B9ED9 0%, #5C92BF 33.85%, #5288AB 60.59%, #42788A 100%);
    /* font-size: 18px; */
}
.footer-contents{
    font-size:13px;
    font-weight: 700; 
    line-height: 16px; 
    letter-spacing: 0em;
}
.navbar-elements{
    font-size: 15px;
}

/* .top-nav-ele{
    display: flex !important;
} */

.navbar{
    justify-content: flex-start !important;
}
.login-ele{
    display: inline;
    font-weight: 700; 
}
.login{
    background: linear-gradient(180deg, #BAE6E9 0%, rgba(255, 255, 255, 0) 198.98%);
    border-radius: 5px;
    font-size: 16px;
    height:35px;
    padding-top: 5px;
    padding-right: 15px;
}
