{% extends request.session.msg %}

{%load static%}

{% block title %}The Executive Council{% endblock title %}

{% block body %}
<link rel="stylesheet" href="{% static 'sidebar.css' %}">
<script>
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });

</script>
<style>

    @media (min-width: 576px){
        .col-sm-6 {
            width: 30%  !important;
        }
    }

</style>

<div class="wrapper" style="background-image: url({% static 'media/bg.png'%});">
    <center>
    <!-- Page Content  -->
        <div id="content" style=" width:85%;margin-top:5px; text-align:justify;">
        
        <h2>About the Editorial Board</h2>
        <p></p>
          

        <div class="line"></div>

        <h2 id="pec">Present Editorial Board</h2>
        <div class="row ml-0 mr-0 w-100">               
            <div class="col-sm-4 col-lg-3 col-xl-2">
                <div class="card shadow">
                    <a href="#"><img class="img-fluid" src="{% static 'media/board/saravanan.png'%}" alt="#" /></a>
                    <div class="card-body">
                        <h3 class="card-title mb-1" style="font-size:15px;">Dr L Saravanan</h3>
                        <p class="card-text mb-1" style="font-size:15px;">Chief Editor</p>   
                    </div>
                </div>
            </div> 
            <div class="col-sm-4 col-lg-3 col-xl-2">
                <div class="card shadow">
                    <a href="#"><img class="img-fluid" src="{% static 'media/logo.png'%}" alt="#" /></a>
                    <div class="card-body">
                        <h3 class="card-title mb-1" style="font-size:15px;">Dr Kavitha Gupta</h3>
                        <p class="card-text mb-1" style="font-size:15px;">Associate Editor</p>   
                    </div>
                </div>
            </div> 
            <div class="col-sm-4 col-lg-3 col-xl-2">
                <div class="card shadow">
                    <a href="#"><img class="img-fluid" src="{% static 'media/board/prasanna.png'%}" alt="#" /></a>
                    <div class="card-body">
                        <h3 class="card-title mb-1" style="font-size:15px;">Dr Prasanna Holajjer</h3>
                        <p class="card-text mb-1" style="font-size:15px;">Associate Editor</p>   
                    </div>
                </div>
            </div>  
        </div>

     

        </div>
    </center>
</div>


{% endblock body %}