{% extends 'search/base.html' %}

{%load static%}

{% block title %}Workshop{% endblock title %}

{% block body %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Year</th>
        <th scope="col">Topic</th>
        <th scope="col">Venue</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>1</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>123456789</td>
      </tr>
    </tbody>
  </table>


{% endblock body %}